:root {
    /* --main: #009DFF; */
    --main: #ff0099;
    --class: #0000ff;
    --break: #00ff11;
    --back: #D3EEFF;
  }
  
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--back);
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main);
    color: #FFFFFF;
    padding: 20px;
}

.topbar a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 1px 5px black;
}

.center {
    margin: 0 auto;
}

.main {
    height: 80vh;
    display: grid;
    gap: 10px;
    margin: 10px 10px 10px 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 145px 145px 145px 145px 145px;
}

.box {
    background-color: #FFFFFF;
    box-shadow: 1px 1px 2px black;
    border: 3px solid var(--main);
}

.main p{
    text-align: center;
    font-weight: bold;
}
