* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #009DFF;
    color: #FFFFFF;
    padding: 20px;
}

.topbar a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 1px 5px black;
}

.center {
    margin: 0 auto;
}

.main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    background-color: #D3EEFF;
    justify-content: space-around;
}

.box {
    width: calc(16.66% - 15px);
    height: 140px;
    margin: 5px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 2px black;
    border: 3px solid #009DFF;
}

.main p{
    text-align: center;
    font-weight: bold;
}
